<div class="container bg-light shadow border w-50 mt-5 p-4">
  <div class="row">
    <div class="col">
      <%= simple_form_for @food do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :available %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Create", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
